<div class="grid h-fit  gap-8 p-4 ">
  <div
    class="flex items-center justify-between"
  >

    <h2
    class="text-4xl mt-8  text-white "
    >{{title || 'Currency Exchanger'}}</h2>

    <a  *ngIf="currentCurrecyPath" class="" [routerLink]="['details', 'EUR']">
      <p-button  class="moreBtn "  label="More Details"></p-button>
    </a>
  </div>

  <!-- Main Div -->
  <div class="w-full h-fit  p-2 grid grid-cols-3 gap-4">

    <!-- Left -->
    <div class="col-span-1 text-xl text-white flex flex-col justify-between p-4">

      <div>
        <div class="grid gap-2">
          <label for="amount">Amount</label>
          <p-inputNumber class="w-80" id="amount" inputId="amountInput" [(ngModel)]="amount"> </p-inputNumber>
        </div>

      </div>
      <p class="text-center border p-4">
        {{amount || 1 }}.00 EUR  = XX.XX USD <br>
      </p>

    </div>

    <!-- Right -->
    <div class="col-span-2">
      <app-exchanger></app-exchanger>
    </div>
  </div>

  <h3 class="mt-8 text-4xl h-fit text-white">History </h3>
  <div class="grid grid-cols-3 w-full gap-8  ">
    <div *ngFor="let i of [1,2,3,4,5,6,7,8,9]" class="border w-full h-64 rounded-xl"></div>
  </div>
</div>
