<!-- Main Div -->
<div class="grid gap-4">
  <!-- Convertor -->
  <div class="grid grid-cols-3 gap-12">
      <div class="grid">
        <div class=" grid">
          <label class="text-white" for="to">To</label>
          <select id="to"  [(ngModel)]="toVal" class="selectStyling">
            <option *ngFor="let opt of rates;" value="USD">{{opt}}</option>
          </select>
        </div>
      </div>
      <img
      class="w-20 cursor-pointer  mx-auto" src="assets/transfer.png" alt=""
      />
      <div class=" grid">
      <label class="text-white" for="to">To</label>

      <div class="card flex justify-content-center">
        <p-cascadeSelect [(ngModel)]="selectedCity" [options]="countries" optionLabel="cname" optionGroupLabel="name" [optionGroupChildren]="['states', 'cities']" [style]="{ minWidth: '14rem' }" placeholder="Select a Currency"></p-cascadeSelect>
      </div>
      </div>
  </div>
  <p-button label="Convert"></p-button>
<!--  Result -->
  <div class="flex gap-8 items-center">
    <div class="result text-white border p-12 w-1/2 text-center text-3xl">
      XX.XX USD
    </div>
    <p-button class="moreBtn w-[48%]"  label="More Details"></p-button>

  </div>
</div>
